DATABASE_URL=string

# The session secret is used to sign the session cookie. 
# It can be generated using the following command:
# openssl rand -hex 32
SESSION_SECRET=string

# Cloudinary account
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="string"
NEXT_PUBLIC_CLOUDINARY_API_KEY="string"
NEXT_PUBLIC_CLOUDINARY_PRESET="string"
CLOUDINARY_API_SECRET="string"
NEXT_PUBLIC_CLOUDINARY_FOLDER="string"
